/* The animation code */
@keyframes fly-left {
    from {left: 0;}
    to {left: -100%;}
}

/* The element to apply the animation to */
.word-delete {
    animation-name: fly-left;
    animation-duration: 0.6s;
}