@import 'index.scss';

.input-group {
  max-width: 800px;
  min-width: 300px;
  align-self: center;
  .input-group-text {
    background-color: white;
    border-color: #6c757d;
    border-radius: 8px;
  }
  .auto-complete {
    border-radius: 0;
    border: none;
    @extend .form-control;
    margin: 0;
    padding: 0;

    .auto-complete-input-class-name {
      width: 100%;
      height: 100%;
    }

    .auto-complete-list-class-name {
      @extend .list-group;
      display: none;
      &.show {
        display: block;
      }
      li {
        @extend .list-group-item;
        &.selected {
          @extend .list-group-item-warning;
        }
        span.typed {
          background-color: $warning;
        }
      }
    }
  }
  .input-group-append {
    button {
      border-radius: 0;
      border-left: none;
      &:nth-child(2) {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }
  }
}

.translate-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  .translate-list-item {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 2px;
    padding: 3px 3px 0 10px;
    border: solid 0.5px #b3b1b1;
    background: #fffffb;

    .translate-list-item-words {
      display: flex;
      flex-direction: column;
      div {
        display: flex;
        justify-content: space-between;

        .word {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          span {
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .culture {
          margin-left: 6px;
          color: #d3d3d3;
          align-self: center;
        }
      }
    }

    .list-item-close {
      display: none;
      align-self: flex-end;
      position: absolute;
      margin-top: 0px;
      margin-right: -20px;
      svg {
        height: 15px;
        width: 15px;
      }
    }

    &:hover .list-item-close {
      display: flex;
    }

    &.is-phrase {
      background-color: red;
      .translate-list-item-words {
        div {
          border-bottom: dotted 0.2px #d3d3d3;
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}
