<!-- Alert -->
<div id="infoAlert" class="alert alert-warning alert-dismissible fade show d-none" role="alert">
  <strong>Info!</strong>
  <span id="messages">Content</span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<!-- Modal -->
<div class="modal fade" id="settingModal" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h2>Setting</h2>
        <hr>
        <div class="form-group">
          <select class="form-control" id="selectLanguageSource">
            <option>1</option>
            <option>2</option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control" id="selectLanguageTarget">
            <option>1</option>
            <option>2</option>
          </select>
        </div>
        <div class="d-flex justify-content-end">
          <button class="btn btn-success m-1" data-dismiss="modal">Save</button>
          <button class="btn btn-danger m-1" data-dismiss="modal">Cancle</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div id="content" class="col">
      <app-serach-word></app-serach-word>
    </div>
    <div class="wrapper">
      <div id="settingPanel" class="collapse navbar-collapse sticky-top mt-2">
        <app-setting></app-setting>
      </div>
    </div>
  </div>
</div>