<div class="btn-group-vertical">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Delete
    </button>
    <div class="dropdown-menu">
      <button type="button" (click)="deleteAllHistory()" class="dropdown-item">
        All History
      </button>
    </div>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Export
    </button>
    <div class="dropdown-menu">
      <button type="button" (click)="exportMutiChoiceTest()" class="dropdown-item">
      MutiChoice Test
      </button>
      <button type="button" (click)="exportBlankTest()" class="dropdown-item">
        Blank Test
      </button>
      <button type="button" (click)="exportWords()" class="dropdown-item">
        To Memrise
      </button>
      <button type="button" (click)="exportWords('momo')" class="dropdown-item">
        To Momo
      </button>
    </div>
  </div>
  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#settingModal">
    Setting
  </button>
  <button (click)="saveToArchive()" type="button" class="btn btn-primary">
    Archive
  </button>
  <button (click)="openLink()" type="button" class="btn btn-warning">
    How To Use
  </button>
  <hr/>
  <!-- <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Holy guacamole!</strong> You should check in on some of those fields below.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div> -->
  <a href="#" class="badge badge-primary">Primary</a>
  <a href="#" class="badge badge-primary">Primary</a>
  <a href="#" class="badge badge-primary">Primary</a>
  <a href="#" class="badge badge-primary">Primary</a>
</div>