<div class="btn-group-vertical">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Delete
    </button>
    <div class="dropdown-menu">
      <button type="button" (click)="deleteAllHistory()" class="dropdown-item">
        All History
      </button>
    </div>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Export
    </button>
    <div class="dropdown-menu">
      <button type="button" (click)="exportMutiChoiceTest()" class="dropdown-item">
      MutiChoice Test
      </button>
      <button type="button" (click)="exportBlankTest()" class="dropdown-item">
        Blank Test
      </button>
      <button type="button" (click)="exportWords()" class="dropdown-item">
        To Memrise
      </button>
      <button type="button" (click)="exportWords('momo')" class="dropdown-item">
        To Momo
      </button>
    </div>
  </div>
  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#settingModal">
    Setting
  </button>
  <button (click)="openLink()" type="button" class="btn btn-warning">
    How To Use
  </button>
</div>