.dict-close-button {
    margin-top: -12px;
    margin-right: -12px;
    display: flex;
    cursor: pointer;
    background-color: white;
    svg {
      justify-self: center;
      align-self: center;
      height: 24px;
      width: 24px;
      color: red;
    }
    border-radius: 50%;
    border: 0;
    z-index: 1000;
  }